@import "tailwindcss";
@plugin '../config/heroUi/heroUi.js';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-blue: #3772ff;
  --color-black-900: #2f2f2f;
  --color-black-600: #353535;
  --color-white-200: #efe8ff;
  --color-black: #1a1a1a;
  --color-white: #ffffff;
  --color-gray-400: #707070;
  --color-gray-100: #dcdcdc;
  --color-pink: #ff6c6c;
  --color-blue-300: #675cff;
  --color-blue-100: #87dfff;
  --color-yellow: #f0db4f;

  --font-persian: DanaFaNum;

  --color-background: var(--background);
  --color-text: var(--text);
  --color-boarder: var(--boarder);
  --color-muted: var(--muted);
  --color-backgroundColor: var(--backgroundColor);
  --color-authbackground:var(--authbackground);
  --color-authcommonbackground:var(--authcommonbackground);
  --color-forgetpassbtn:var(--forgetpassbtn);
  --color-gray-0:var(--gray-0);
  --color-gray-450:var(--gray-450);
  --color-thumbs: var(--thumbs);
  --color-text2: var(--text2);
  --color-buttonBorder: var(--buttonBorder);
  --color-shadow: var(--shadow);
  --color-commentHead: var(--commentHead);
  --color-lightBlue: var(--lightBlue);
  --color-lightRed: var(--lightRed);
  --color-textBlue: var(--textBlue);
  --color-textRed: var(--textRed);
  --color-textBlue2: var(--textBlue2);
  --color-paymentBackground: var(--paymentBackground);


}
:root{
  --background:#fff;
  --authbackground:#fffff;
  --text:#1a1a1a;
  --boarder:#DCDCDC;
  --muted:#707070;
  --backgroundColor:#F6F6F6;
  --authcommonbackground:#F1F1F1;
  --forgetpassbtn:#F6F6F6;
  --gray-0: #e8e8e8;
  --gray-450:#D9D9D9;
  --thumbs: #000;
  --text2: #2f2f2f;
  --buttonBorder:#3772FF;
  --shadow:#313030;
  --commentHead:#202020;
  --lightBlue:#EEFFFC;
  --lightRed:#FFECEC;
  --textBlue:#008C78;
  --textRed:#E7000B;
  --textBlue2:#3C8B85;
  --paymentBackground:#222222B2;
}
.dark{
  --background:#1a1a1a;
  --text:#dbdbdb;
  --boarder:#343434;
  --muted:#817f7f;
  --backgroundColor:#202020;
  --authcommonbackground:#2a2828;
  --forgetpassbtn:#2a2828;
  --gray-0: #5d5d5d;
  --gray-450:#3d3d3d;
  --backgroundColor: #202020;
  --thumbs: #fff;
  --text2: #fff;
  --buttonBorder:#202020;
  --shadow:#707070;
  --commentHead:#707070;
  --lightBlue:#72908a;
  --lightRed:#897e7e;
  --textBlue:#008C78;
  --textRed:#E7000B;
  --textBlue2:#3C8B85;
  --paymentBackground:#575757d8;

}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  direction: rtl;
}
