@import "tailwindcss";
@plugin '../config/heroUi/heroUi.js';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@theme{
  --color-blue: #3772FF;
  --color-black-900: #2F2F2F;
  --color-black-600: #353535;
  --color-white-200: #efe8ff;
  --color-black: #1a1a1a;
  --color-white: #ffffff;
  --color-gray-400:#707070;
  --color-gray-100:#DCDCDC;
  --color-pink:#FF6C6C;
  --color-blue-300:#675CFF;
  --color-blue-100:#87DFFF;
  --color-yellow:#F0DB4F;


  --font-persian: DanaFaNum;

  --color-background: var(--background);
  --color-text: var(--text);
  --color-boarder: var(--boarder);
  --color-muted: var(--muted);
  --color-backgroundColor: var(--backgroundColor);
  --color-authbackground:var(--authbackground);
  --color-authcommonbackground:var(--authcommonbackground);
  --color-forgetpassbtn:var(--forgetpassbtn);


}
:root{
  --background:#fff;
  --authbackground:#fffff;
  --text:#1a1a1a;
  --boarder:#DCDCDC;
  --muted:#707070;
  --backgroundColor:#F6F6F6;
  --authcommonbackground:#F1F1F1;
  --forgetpassbtn:#F6F6F6;

}
.dark{
  --background:#1a1a1a;
  --text:#dbdbdb;
  --boarder:#343434;
  --muted:#817f7f;
  --backgroundColor:#202020;
  --authcommonbackground:#2a2828;
  --forgetpassbtn:#2a2828;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  direction: rtl;
}

